/*geral*/
body {
  font-family: Bodoni MT, Didot, serif;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #52b5ac;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 36px;
}
.header_menu ul li a {
  padding: 10px 0 10px 0;
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  color: #e3631b;
}
.header_menu ul li a:hover {
  color: #ffffff;
}

/*intro*/
.intro {
  width: 100%;
  height: 240px;
  background: url("../img/fotos/home1.jpg") no-repeat center;
  background-size: cover;
  margin-top: 130px;
  color: #e3631b;
  padding-top: 30px;
}
.intro h1 {
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.intro h1:after {
  content: "";
  display: block;
  width: 200px;
  height: 6px;
  background: #ffffff;
  margin: 16px auto 10px auto;
}
.intro h2 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/*motivos*/
.motivos h2 {
  font-size: 40px;
  line-height: 30px;
  font-weight: bold;
  color: #52b5ac;
  padding-top: 50px;
  text-align: center;
}
.motivos h2:after {
  content: "";
  width: 960px;
  height: 130px;
  display: block;
  background: url("../img/icones-e-logo/linhas3.png") no-repeat center;
  position: absolute;
  top: 45px;
  z-index: -1;
}
.lista-motivos li {
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  color: #e3631b;
  margin-top: 100px;
  border: 3px solid;
  border-radius: 7px;
  border-color: black;
  padding: 15px;
  text-align: center;
}

/*depoimento clientes*/
.apresentacao-depoimentos {
  height: 100px;
  width: 100%;
  background: #52b5ac;
  margin-top: 60px;
}
.apresentacao-depoimentos h3 {
  color: #ffffff;
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.depo {
  height: 300px;
  width: 100%;
  background: #e3631b;
}
.cliente1 {
  height: 242px;
  width: 360px;
  margin-top: 20px;
  border: 3px solid black;
}
.depoimento-1 {
  height: 140px;
  width: 500px;
  margin-top: 80px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

/*footer*/
.cor {
  height: 160px;
  width: 100%;
  background: #52b5ac;
}
.footer h3 {
  color: #ffffff;
  font-size: 40px;
  height: 120px;
  width: 500px;
  text-align: center;
  padding-top: 20px;
}
.footer ul li {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-top: -30px;
}

.footer ul li a {
  border: 3px solid #e3631b;
  display: inline-block;
  padding: 10px;
}

.footer ul li a:hover {
  border-color: #fff;
}

/*javascript*/
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: -24px;
  z-index: 9900;
  position: sticky;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding-top: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #52b5ac;
}

.js[data-anime] {
  opacity: 0;
}
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .motivos h2:after {
    content: "";
    width: 720px;
    margin-left: 30px;
    height: 130px;
    display: block;
    background: url("../img/icones-e-logo/linhas3.png") no-repeat center;
    top: 45px;
    z-index: -1;
  }
  .depo {
    height: 243px;
  }
  .depoimento-1 {
    width: 400px;
    font-size: 24px;
  }
  .cliente1 {
    height: 180px;
    width: 268px;
  }

  .footer ul li {
    width: 230px;
    margin-left: 16px;
  }
  .js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: -24px;
    z-index: 9900;
    position: sticky;
  }

  .js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding-top: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
    margin-left: -30px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
  }

  .header img {
    margin: 0 auto 10px auto;
    margin-left: 110px;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #e3631b;
    width: 110px;
  }
  .header_menu ul li a:hover {
    border-color: #fff;
  }
  /*intro*/
  .intro {
    margin-top: 0px;
  }
  .intro h1 {
    font-size: 40px;
    margin-top: 10px;
  }
  .intro h2 {
    font-size: 36px;
  }

  /*motivos*/
  .motivos h2:after {
    content: "";
    width: 0px;
  }
  .lista-motivos li {
    margin-top: 40px;
  }
  /*depoimentos*/
  .depoimentos {
    height: 146px;
    width: 100%;
    background: #52b5ac;
  }
  .apresentacao-depoimentos {
    height: 160px;
    margin-top: 40px;
  }
  .cliente1 {
    height: 162px;
    width: 240px;
    margin-top: -40px;
    margin-left: 30px;
  }
  .depoimento-1 {
    width: 360px;
    margin-left: -30px;
    margin-top: 30px;
  }
  .depo {
    height: 360px;
  }

  /*footer*/
  .footer h3 {
    width: 440px;
    height: 66px;
  }
  .footer ul li {
    width: 90px;
  }

  .footer ul li a {
    margin-top: 40px;
  }
}
